@use "./colors" as *;

* {
  margin: 0;
  padding: 0;
}

.light {
  .text {
    color: $dark-900;
  }
  .btn {
    background-color: $dark-500;
    color: $light-100;
  }
  .card-container {
    .card {
      background-color: $background;
      -webkit-box-shadow: -5px -1px 15px -10px rgba(46, 41, 46, 1);
      -moz-box-shadow: -5px -1px 15px -10px rgba(46, 41, 46, 1);
      box-shadow: -5px -1px 15px -10px rgba(46, 41, 46, 1);
    }
  }
  .background {
    background-color: $light-100;
  }
}

.dark {
  .text {
    color: $light-100;
  }
  .background {
    background-color: $dark-700;
  }
  .card-container {
    .card {
      background-color: $dark-900;
      -webkit-box-shadow: -5px -1px 15px -10px rgb(103, 101, 101);
      -moz-box-shadow: -5px -1px 15px -10px rgba(103, 101, 101, 1);
      box-shadow: -5px -1px 15px -10px rgba(103, 101, 101, 1);
    }
  }
}

.card-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: auto;
  min-height: 100vh;
  padding: 2rem 1rem;
  .card {
    // padding: 1rem;
    border-radius: 5px;
    height: 320px;
    .body-section {
      padding: 1rem;

      p {
        display: -webkit-box;
        overflow: hidden;
        line-height: 1em;
        font-size: 14px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .sub-section {
        margin-top: 1.5em;
        display: flex;
        justify-content: space-between;
      }
      .reactions {
        display: flex;
        align-items: center;
        gap: 0.3em;
      }
    }
    .card-footer {
      padding: 1rem;
      display: flex;
      justify-content: flex-end;
      a {
        text-decoration: none;
        border: 0;
      }
    }
    .title-section {
      height: 70px;
      padding: 1rem;

      h3 {
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
  }
}

.page-num {
  margin-top: 1em;
  padding: 5px;
  border: 1px solid #f3f3f3;
  cursor: pointer;
}
