nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  ul {
    text-align: right;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 20px 25px;
    li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px;
      a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px;
        &:hover {
          background-color: #111;
        }
      }
    }
  }
}

.content {
  max-width: 1200px;
  width: 90%;
  margin: 3rem auto;
  padding: 2em;
  .text-content {
    width: 70%;
    h1 {
      font-weight: 400;
      font-size: 3.5em;
    }
    p {
      // font-size: 1em;
    }
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    .card {
      -webkit-box-shadow: -5px -1px 15px -10px rgba(46, 41, 46, 1);
      -moz-box-shadow: -5px -1px 15px -10px rgba(46, 41, 46, 1);
      box-shadow: -5px -1px 15px -10px rgba(46, 41, 46, 1);
      // padding: 1rem;
      border-radius: 5px;
      background-color: #f2f2f2;
      height: 320px;
      .title-section {
        height: 70px;
        padding: 1rem;
        background: #fff;
        h3 {
          font-weight: 400;
          color: #29324a;
          letter-spacing: 1px;
        }
      }

      .body-section {
        padding: 1rem;

        p {
          display: -webkit-box;
          overflow: hidden;
          line-height: 1em;
          color: #333;
          font-size: 14px;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .sub-section {
          margin-top: 1.5em;
          display: flex;
          justify-content: space-between;
        }
        .reactions {
          display: flex;
          align-items: center;
          gap: 0.3em;
        }
      }
      .card-footer {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        a {
          text-decoration: none;
          color: #29324a;
        }
      }
    }
  }
}
